$main-font-family: "Open Sans", "Roboto", "Helvetica Neue" , "Helvetica",sans-serif;

/*
Брейкпоинты
*/

$mobile: 320px;
$pad: 760px;
$desktop-mid: 1024px;
$desktop-large: 1440px;

$mainColor: #bbd9e8;
// $mainColor: #cddfdf;
/* $mainColor: #d5e0e0; */

$headerFontSize: 19px;
$titleFontSize: 19px;